filter {
  if [type] == "messages" {
    grok {
      match => { "message" => "%{SYSLOGTIMESTAMP:time} %{SYSLOGHOST:hostname} %{DATA:program}(?:\[%{POSINT:pid}\])?: %{GREEDYDATA:message_message}" }
    }
    date { match => [ "time", "MMM dd HH:mm:ss", "MMM  d HH:mm:ss" ] }
  }
}
